* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--lightgray: rgb(241, 242, 244);
	--darkgray: rgb(189, 189, 189);
	--yellow: rgb(240, 228, 147);
	--green: rgb(162, 241, 152);
	--blue: rgb(56, 128, 150);
}

body {
	background: var(--lightgray);
	height: 100vh;
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 1fr max-content;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button,
select {
	cursor: pointer;
	font-size: 0.8rem;
	padding: 2px 5px;
	border-radius: 10px;
	border: none;
}

button {
	background: white;
}

select {
	background: var(--darkgray);
}

aside {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	background: white;
	display: flex;
	flex-direction: column;
}

aside > h1 {
	text-align: center;
}

aside > #projectForm > #projectList {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 10px;
}

aside > #projectForm > #projectList > li > input[type='radio'] {
	display: none;
}

aside > #projectForm > #projectList > li > label {
	cursor: pointer;
	width: 100%;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 10px;
}

aside > #projectForm > #projectList > li > label:hover {
	background: var(--darkgray);
}

aside > #projectForm > #projectList > li > input[type='radio']:checked + label {
	background: var(--blue);
	color: white;
	font-weight: bold;
}

aside > #addProject {
	margin: 10px;
	font-size: 1rem;
	background: var(--blue);
	color: white;
	font-weight: bold;
}

main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px;
}

main > header {
	display: flex;
	justify-content: space-between;
}

main > header > h2 {
	color: var(--blue);
}

main > header > menu {
	display: flex;
	gap: 10px;
	list-style-type: none;
}

main > header > menu > li > button {
	font-size: 1rem;
	font-weight: bold;
	color: var(--blue);
}

/* #region todos */
#todoList {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.todo {
	display: grid;
	grid-template-columns: 15px 1fr;
	grid-template-rows: max-content 1fr;
	outline: 2px solid var(--darkgray);
	background: white;
	color: black;
	border-radius: 15px;
}

.todo > .status-span {
	display: block;
	content: '';
	background: var(--darkgray);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	grid-row: 1 / -1;
	width: 100%;
	height: 100%;
}

.todo > header {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.9rem;
	margin: 2px 5px;
}

.todo > header > menu {
	list-style-type: none;
	display: flex;
	gap: 5px;
}

.todo > p {
	margin: 5px;
	font-size: 0.9rem;
	padding: 3px;
}

.todo.in-progress > .status-span,
.todo.in-progress > header > menu > li > select {
	background: var(--yellow);
}

.todo.in-progress {
	outline: 2px solid var(--yellow);
}

.todo.done > header > h3,
.todo.done > p {
	text-decoration: line-through;
}

.todo.done > .status-span,
.todo.done > header > menu > li > select {
	background: var(--green);
}

.todo.done {
	outline: 2px solid var(--green);
}

/* #endregion */

footer {
	display: flex;
	justify-content: center;
	padding: 10px;
	gap: 10px;
	font-size: 0.8rem;
}

footer > p {
	color: white;
}
